name: test-report

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  test-report:
    runs-on: macos-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repos
        uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Setup Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install latex
        uses: r-lib/actions/setup-tinytex@v2

      - name: Install dependencies
        uses: r-lib/actions/setup-renv@v2

      - name: Compile the report
        run: quarto render report/results.qmd --to html

      - name: Upload html as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: results
          path: report/results.html
